@page
@model GetandTake.Pages.Categories.ImagesModel

@section Title
    {
    <h5 class="title">Images</h5>
}

@foreach (var category in Model.Categories)
{
    @if (@category.ImagePath != null)
    {
        <h5>@category.CategoryName</h5>
        string imagePath = Model.HostUrl + @category.ImagePath;
        <img src="@imagePath" class="img-thumbnail" width="250px;" />
        <getandtake-image-link category-image-id="@category.CategoryID">
            <i class="bi bi-card-image p-2">Show Image</i>
        </getandtake-image-link>
    }
}